@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  min-height: 100%;
  height: 100%;
  margin:0px;
	font-family:Roboto, sans-serif;
	overflow:visible;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}